// Changement des variables Bootstrap

// Import des couleurs de la charte graphique
$primary: #0074c7;
$secondary: #384050;
$success: #82b864;
$light: #f1f8fc;
$info: #00497c;

// Import de la police de la charte graphique
$font-family-base: 'Graphik', sans-serif;
$font-size-base: 1em;